
header {
  background: rgba(18, 20, 19, 0.918);
  color: white;
  position: relative;
  padding: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(132,140,168,.28);
}
header .logo img{
  width: 140px;
  object-fit: contain;
  position: relative;
  top: 4px;
}
header .search-line input{
  font-size: 14px;
  outline: none;
  border: none;
  background: #fafafa;
  padding: 7px 15px;
  border-radius: 5px;
  width: 330px;
  text-align: center;
  font-weight: 300;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}
header .price-line{
  font-weight: bold;
  display: flex;
  font-size: 25px;
  justify-content: center;
  min-width: 250px;
}
header .chart-currencies{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width : 1099px) {
  header .logo{
    width: 100%;
    min-width: 100%;
    margin-bottom: 5px;
  }
  header .price-line{
    width: 100%;
    min-width: 100%;
  }
  header .chart-currencies{
    width: 100%;
    text-align: center;
  }
  header .chart-currencies{
    padding-top: 7px;
  }  
  header .search-line{
    position: absolute;
    top: 1vw;
    right: 1vw;
  }
}
/*1099px*/

@media only screen and (max-width : 580px) {
  header .logo{
    text-align: center;
  }
  header .search-line{
    position: relative;
    width: 100%;
    right: inherit;
    margin-bottom: 2vw;
  }
  header .search-line input{
    width: 100%;
  } 
  header .price-line{
    font-size: 19px;
  }
  header .chart-currencies{
    padding-top: 3px;
  }  
}
/*580*/
