<header>
  <a class="logo" routerLink="/">
    <img src="/assets/images/tff-logo-white.svg" alt="">
  </a>
  <!-- <a class="logo"> -->
    <!-- <div>
      ThreeFold Grid Explorer
    </div> -->
  <!-- </a> -->
  <div class="price-line blue-text">
    <span class="middle-num">1 TFT = 0.1</span>
    &nbsp;
    <span class="small-num">USD</span>
    &nbsp;
    <span class="middle-num">/ 0.88</span>
    &nbsp;
    <span class="small-num">EUR</span>
    &nbsp;
    <span class="middle-num">/ 0.003</span>
    &nbsp;
    <span class="small-num">BTC</span>
  </div>
  <div class="search-line">
    <input type="text" placeholder="Search by Block Height/Transaction Hash" (keyup.enter)="search()" [(ngModel)]="query">
  </div>
</header>