
header {
  background: #121413ea;
  color: white;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(132,140,168,.28);
}
/* header .logo{
  font-weight: 100;
  font-size: 23px;
  text-transform: uppercase;
} */
header .logo img{
  width: 140px;
  object-fit: contain;
  position: relative;
  top: 4px;
}
header .search-line input{
  font-size: 14px;
  outline: none;
  border: none;
  background: #fafafa;
  padding: 7px 15px;
  border-radius: 5px;
  width: 330px;
  text-align: center;
  font-weight: 300;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}
header .price-line{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}