
section{
  font-weight: bold;
  padding: 17px;
  background: #18232e;
}
section .socials-line,
section .buy-line{
  display: flex;
  justify-content: center;
}
section .socials-line a{
  margin: 5px;
}
footer {
  font-weight: 300;
  background: #17181e;
  padding: 15px;
  color: white;
  text-align: center;
}