<section>
  <div class="buy-line flex-wrap">
    More information at&nbsp;
    <a href="http://threefoldtoken.com" class="blue-text">threefoldtoken.com</a>
  </div>
  <div class="small-layer"></div>
  <div class="socials-line">
    <a href="https://t.me/threefoldtoken" target="_blank">
      <i class="fab fa-telegram-plane blue-text"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCKMNPuhs-8tHYfGd92krC8w" target="_blank">
      <i class="fab fa-youtube blue-text"></i>
    </a>
    <a href="https://www.linkedin.com/company/13594159/" target="_blank">
      <i class="fab fa-linkedin blue-text"></i>
    </a>
    <a href="https://www.facebook.com/ThreeFoldCommunity" target="_blank">
      <i class="fab fa-facebook-square blue-text"></i>
    </a>
  </div>
</section>
<footer>
  {{currentYear | date: 'yyyy' }} © All rights reserved
</footer>