<div class="card-title">
  Token Price (last 6 months)
</div>
<div class="flex-center">
  <ngx-charts-line-chart [view]="viewCharts" [scheme]="colorSchemePriceChart" [results]="priceChartData" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="false" [showYAxisLabel]="false" [autoScale]="false" [showGridLines]="true" [curve]="curveCharts">
  </ngx-charts-line-chart>
</div>
<div class="chart-currencies">
  <div class="tip" *ngFor="let currency of currencies" (click)="changeCurrency(currency)" [class.active]="currentCurrency === currency" >
    {{currenciesNames[currency]}}
  </div>
</div>