body {
  color: white;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #36c486 , #008ac7 , #6d327c);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}
.loader{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  background-color: #fafafa;
  font-weight: 100;
  font-size: 19px;
}
.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.inner-container{
  min-height: calc( 100vh - 58.77px - 135.19px);
}
.card{
  padding: 11.5px 10px;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  position: relative;
}
.card.small{
  padding: 10px;
}
.card.clear{
  padding: 0;
}
.card.auto{
  width: auto;
}
.card a:hover{
  color: #a749fa;
}
.big-num{
  font-size: 31.5px;
}
.middle-num{
  font-size: 23px;
}
.small-num{
  font-size: 13px;
  word-break: break-all;
}
.bold{
  font-weight: 700;
}
.pink-text{
  color: #f993ab;
}
.peach-text{
  color: #ffc8a7;
}
.blue-text{
  color: #25dfec;
}
.green-text{
  color: #80ffb5;
}
.bordered{
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
.chip{
  padding: 3px 5px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  flex-shrink: 0;
  text-align: center;
  min-width: 30px;
}
.chip.red{
  color: #fd5266;
  background: rgba(253, 82, 102, 0.18);
}
.chip.green{
  color: #17f9be;
  background: rgba(23, 249, 189, 0.18);
}
.tip{
  padding: 3px 7px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 0;
  flex-shrink: 0;
  color: #8a58ff;
  border: 1px solid #8a58ff;
  margin-right: 7px;
  cursor: pointer;
  transition: all 0.3s ease; 
}
.tip:hover,
.tip.active{
  background: #8a58ff;
  color: white
}
.row{
  display: flex;
  align-items: center;
}
.break{
  word-break: break-all;
}

/* libraries new styles */

/* Charts */
ngx-charts-chart .tick text{
  fill: white
}
ngx-charts-chart .ngx-charts .gridline-path{
  stroke: #fafafa47;
}
ngx-charts-chart ngx-charts-legend.chart-legend,
ngx-charts-chart ngx-charts-legend.chart-legend>div{
  width: 100% !important;
}
ngx-charts-chart ngx-charts-legend.chart-legend ul{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}
ngx-charts-chart .line-series .line{
  stroke-width: 2.3px;
}
ngx-charts-chart .chart-legend .legend-labels{
  display: flex;
  justify-content: center;
  position: relative;
  top: 6px;
}
ngx-charts-chart .ngx-charts-outer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Leaflet */
.leaflet-control-container a{
  display: none;
}
/* Notifications */
simple-notification .simple-notification{
  border-radius: 5px;
}
simple-notification .simple-notification.error{
  background-color: #cc0033;
}
simple-notification .simple-notification.success{
  background-color: #0EBD89;
}
/* Tracs */
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 1px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-corner{
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  position: absolute;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(211, 200, 200, 0.35);
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width : 560px) {
  .big-num{
  font-size: 27px;
  }
  .middle-num{
    font-size: 19px;
  }
}
/*560*/