<app-header></app-header>
<div class="inner-container">
  <div class="page-container">
    <div class="flex-between">
      <div class="left-col">
        <div class="card">
          <div class="flex-center">
            <div class="middle-num">
              Current Block #{{lastBlock?.height}}
            </div>
            <div class="big-layer"></div>
            <div class="middle-num ">
              Difficulty: {{lastBlock?.difficulty}} BS
            </div>
          </div>
          <div class="small-layer"></div>
          <div class="flex-center">
            ID: {{lastBlock?.id}}
          </div>
        </div>
        <div class="small-layer"></div>
        <div class="flex">
          <div class="full-width flex">
            <div class="card auto flex-grow">
              <div class="card-title">
                Units
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{convertInThousands(computeUnitsTotal) | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Compute Units
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{convertInThousands(storageUnitsTotal) | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Storage Units
                  </div>
                </div>
              </div>
            </div>
            <div class="small-layer"></div>
            <div class="card auto flex-grow">
              <div class="card-title">
                Total
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{convertInThousands(storageUnitsPB) | number: '1.0-0'}}K PB
                  </div>
                  <div class="card-subtitle">
                    Storage Units
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{convertInThousands(storageUnitsCores) | number: '1.0-0'}}K
                  </div>
                  <div class="card-subtitle">
                    Cores
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-layer"></div>
          <div class="full-width flex">
            <div class="card auto  flex-grow">
              <div class="card-title">
                AVG Unit Price
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num pink-text">
                    ${{computeUnitPriceUSD | number: '1.2-2'}}
                  </div>
                  <div class="card-subtitle">
                    Compute Unit
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num peach-text">
                    ${{storageUnitPriceUSD | number: '1.2-2'}}
                  </div>
                  <div class="card-subtitle">
                    Storage Unit
                  </div>
                </div>
              </div>
            </div>
            <div class="small-layer"></div>
            <div class="card auto flex-grow">
              <div class="card-title">
                Network
              </div>
              <div class="flex-no-shrink">
                <div class="big-num">
                  ${{ networkPrice() | number: '1.0-0'}}
                </div>
                <div class="card-subtitle">
                  Network price
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layer"></div>
        <div class="flex">
          <div class="card chart">
            <app-token-price-chart></app-token-price-chart>
          </div>
          <div class="small-layer"></div>
          <div class="card">
            <app-unit-price-chart></app-unit-price-chart>
          </div>
        </div>
        <div class="small-layer"></div>
        <app-nodes-maps [peers]="peers" *ngIf="peers.length > 0"></app-nodes-maps>
      </div>
      <div class="right-col">
        <div class="card full-height">
          <div class="card-title">
            Recent blocks
          </div>
          <div class="row" *ngFor="let block of lastBlocks">
            <div class="row-icon">
              <img src="assets/images/icons8-brick-64.png" alt="">
            </div>
            <div>
              <div class="flex align-center">
                <a class="row-title" (click)="search(block?.height)">
                  Block #{{block?.height}}
                </a>
                <!-- <div class="small-layer"></div>
                <div class="chip green">{{timeAgo(block.timeStamp)}}s ago</div> -->
              </div>
              <div class="row-info">
                <a class="big-data-container" (click)="search(block?.id)">
                  ID: {{block?.id}}
                </a>
              </div>
              <div class="row-info">
                <a class="big-data-container" (click)="search(block?.parentId)">
                  Parent ID: {{block?.parentId}}
                </a>
              </div>
              <div class="row-info bold">
                Block Reward {{calculatedValueInTokens(block?.minerReward) | number : '1.0-3'}} TFT /&nbsp; {{block?.transactionsCount}} txns
              </div>
              <div class="row-info">
                Active BlockStake: {{block?.activeBlockStake}} BS
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>