<app-header></app-header>
<div class="inner-container">
  <div class="page-container">
    <div class="flex-between cols-wrapper">
      <div class="left-col">
        <div class="card">
          <div class="flex-center">
            <div class="middle-num">
              Current Block #{{lastBlock?.height}}
            </div>
          </div>
          <div class="small-layer"></div>
          <div class="flex-center break">
            ID: {{lastBlock?.id}}
          </div>
        </div>
        <div class="small-layer"></div>
        <div class="flex stats-line">
          <div class="full-width flex stats-line-row">
            <div class="card auto flex-grow">
              <div class="card-title">
                Grid Capacity, Units
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getStaticData('computeUnitsTotal', true) | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Compute Units
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getStaticData('storageUnitsTotal', true) | number: '1.1-1'}}K
                  </div>
                  <div class="card-subtitle">
                    Storage Units
                  </div>
                </div>
              </div>
            </div>
            <div class="small-layer"></div>
            <div class="card auto flex-grow">
              <div class="card-title">
                Grid Capacity
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getStaticData('storageUnitsPB', true) | number: '1.0-0'}}K PB
                  </div>
                  <div class="card-subtitle">
                    Storage Units
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num">
                    {{getStaticData('storageUnitsCores', true) | number: '1.0-0'}}K
                  </div>
                  <div class="card-subtitle">
                    Cores
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="small-layer"></div>
          <div class="full-width flex stats-line-row">
            <div class="card auto  flex-grow">
              <div class="card-title">
                AVG Unit Price
              </div>
              <div class="flex">
                <div class="flex-no-shrink">
                  <div class="big-num pink-text">
                    ${{getStaticData('computeUnitPriceUSD') | number: '1.2-2'}}
                  </div>
                  <div class="card-subtitle">
                    Compute Unit
                  </div>
                </div>
                <div class="layer"></div>
                <div class="flex-no-shrink">
                  <div class="big-num peach-text">
                    ${{getStaticData('storageUnitPriceUSD') | number: '1.2-2'}}
                  </div>
                  <div class="card-subtitle">
                    Storage Unit
                  </div>
                </div>
              </div>
            </div>
            <div class="small-layer"></div>
            <div class="card auto flex-grow">
              <div class="card-title">
                Annual Network Revenue
              </div>
              <div class="flex-no-shrink">
                <div class="big-num">
                  ${{ networkPrice() | number: '1.0-0'}}
                </div>
                <div class="card-subtitle">
                  With full utilization
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layer"></div>
        <div class="flex charts-line">
          <div class="card chart">
            <app-token-price-chart></app-token-price-chart>
          </div>
          <div class="small-layer"></div>
          <div class="card">
            <app-unit-price-chart></app-unit-price-chart>
          </div>
        </div>
        <div class="small-layer"></div>
        <app-nodes-maps [peers]="peers" *ngIf="peers.length > 0"></app-nodes-maps>
      </div>
      <div class="right-col">
        <div class="card full-height">
          <div class="card-title">
            Recent blocks
          </div>
          <div class="blocks-wrapper">
            <div class="row" *ngFor="let block of lastBlocks">
              <div class="row-icon">
                <img src="assets/images/icons8-brick-64.png" alt="">
              </div>
              <div>
                <div class="flex align-center flex-wrap">
                  <a class="row-title" (click)="search(block?.height)">
                    Block #{{block?.height}}
                  </a>
                  <div class="small-layer"></div>
                  <div class="chip green">{{block.ago}}</div>
                </div>
                <div class="row-info">
                  <a class="big-data-container" (click)="search(block?.id)">
                    ID: {{block?.id}}
                  </a>
                </div>
                <div class="row-info">
                  <a class="big-data-container" (click)="search(block?.parentId)">
                    Parent ID: {{block?.parentId}}
                  </a>
                </div>
                <div class="row-info bold">
                  Block Reward: {{calculatedValueInTokens(block?.minerReward) | number : '1.0-3'}} TFT /&nbsp; {{block?.transactionsCount}}
                  txns
                </div>
                <div class="row-info">
                  Active BlockStake: {{block?.activeBlockStake}} BS
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>