.page-container{
  padding: 0.7%;
  max-width: 1850px;
  margin: 0 auto;
}
.left-col{
  min-width: 64.5%;
  width: 64.5%;
}
.right-col{
  min-width: 35%;
  width: 35%;
}
.right-col .blocks-wrapper{
  max-height: 741px;
  overflow: hidden;
}
.row{
  font-weight: 400;
  padding-bottom: 13px;
  margin-bottom: 13px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
.row:last-child{
  border-bottom: none;
  margin-bottom: 0;
}
.row .row-icon{
  margin-right: 15px;
}
.row .row-title{
  font-weight: 600;
  font-size: 19px;
}
.row .row-info{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
}
.big-data-container{
  height: 20px;
  width: 95%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.big-data-container.long{
  width: 300px;
}
.card-title{
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 5px;
  color: #cfdef8;
}
.card-subtitle{
  font-size: 13px;
  font-weight: 600;
  color: #cfdef8;
  flex-shrink: 0;
}
.left-col .supply-line .card-title{
  padding-bottom: 0;
}
@media only screen and (max-width : 1400px) {
  .left-col{
    min-width: 55%;
    width: 55%;
  }
  .right-col{
    min-width: 44.5%;
    width: 44.5%;
  }
  .left-col .stats-line,
  .left-col .charts-line,
  .left-col >>> .maps-line{
    flex-direction: column;
    align-items: center;
  }
  .left-col .stats-line .card{
    width: 100%;
  }
  .right-col .blocks-wrapper{
    max-height: 100%
  }
}
/*1400*/

@media only screen and (max-width : 991px) {
  .cols-wrapper{
    flex-direction: column-reverse;
  }
  .left-col{
    min-width: 100%;
    width: 100%;
  }
  .right-col{
    min-width: 100%;
    width: 100%;
    margin-bottom: 1%;
  }
  .right-col .blocks-wrapper{
    display: flex;
    overflow: auto;
  }
  .right-col .blocks-wrapper .row{
    flex-shrink: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 3px;
  }
  .left-col .charts-line,
  .left-col >>> .maps-line{
    flex-direction: row;
    align-items: inherit;
  }
  .left-col .stats-line .card,
  .left-col .stats-line .card > .flex{
    text-align: center;
    justify-content: center;
  }
  .right-col .row {
    max-width: 400px;
    border-bottom: none;
    border-left: 1px solid rgba(250, 250, 250, 0.3);
  }
  .right-col .row:first-child{
    border-left: none;
  }  
  .left-col .supply-line .card{
    text-align: center;
  }
  
}
/*991*/

@media only screen and (max-width : 860px) {
  .left-col .charts-line,
  .left-col >>> .maps-line{
    flex-direction: column;
  }
  .right-col .row .row-icon{
    margin-right: 5px;
  }
}
/*860*/

@media only screen and (max-width : 560px) {
  .right-col .row {
    max-width: 65vw;
  }
  .left-col .stats-line .stats-line-row{
    flex-wrap: wrap;
  }
  .left-col .stats-line .card{
    width: 100%;
    min-width: 100%;
  }
  .right-col .row .row-icon img{
    max-width: 35px;
    object-fit: contain;
  }
  .row .row-title{
    font-size: 17.5px;
  }  
  
}
/*560*/
