<app-header></app-header>
<div class="inner-container">
  <div class="flex-center search-line" *ngIf="!item">Searching ....</div>
  <div class="container" *ngIf="item">
    <div *ngIf="item?.hashtype">
      <div class="page-title">
        Hash Type: {{ item?.hashtype !== 'transactionid' ? 'Block ID' : 'Transaction ID'}}
      </div>
      <div class="page-subtitle">
         Hash: {{id}}
      </div>
    </div>
    <div class="page-title" *ngIf="!item?.hashtype">
      Block #{{id}}
    </div>
    <div class="big-layer"></div>
    <div  *ngIf="!item?.hashtype || item?.hashtype === 'blockid'">
      <div class="card">
        <div class="card-title">
          Block Statistics
        </div>
        <div class="row">
          <div class="row-title">
            Height
          </div>
          <div class="row-data">
            {{item.block.height}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            ID
          </div>
          <div class="row-data">
            {{item.block.blockid}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Parent Block
          </div>
          <div class="row-data">
            {{item.block.rawblock.parentid}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Time
          </div>
          <div class="row-data">
            {{item.block.rawblock.timestamp * 1000 | date :'HH:mm' + ', ' + 'MMM dd' + ', ' + 'yyyy'}}
          </div>
        </div>
        <div class="row">
          <div class="row-title">
            Active BlockStake
          </div>
          <div class="row-data">
            {{item.block.estimatedactivebs}} BS
          </div>
        </div>
      </div>
      <div class="layer"></div>
      <div class="page-subtitle">
        Miner Payouts
      </div>
      <div *ngFor="let minerId of item.block.minerpayoutids; let i = index">
        <div class="layer"></div>
        <div class="card">
          <div class="row">
            <div class="row-title">
              ID
            </div>
            <div class="row-data">
              {{minerId}}
            </div>
          </div>
          <div class="row">
            <div class="row-title">
              Payout Address
            </div>
            <div class="row-data">
              {{item.block.rawblock.minerpayouts[i].unlockhash}}
            </div>
          </div>
          <div class="row">
            <div class="row-title">
              Value
            </div>
            <div class="row-data">
              {{calculatedValueInTokens(item.block.rawblock.minerpayouts[i].value) | number : '1.0-8'}} TFT
            </div>
          </div>
        </div>
      </div>
      
      <div class="layer"></div>
      <div class="page-subtitle">
        Transactions
      </div>
      <div  *ngFor="let transaction of item.block.transactions">
        <div class="layer"></div>
        <div class="card">
          <div class="row">
            <div class="row-title">
              ID
            </div>
            <a class="row-data bold" (click)="newSearch(transaction.id)">
              {{transaction.id}}
            </a>
          </div>
          <div class="row" *ngIf="transaction.rawtransaction.data.blockstakeinputs">
            <div class="row-title">
              BlockStake Input Count
            </div>
            <div class="row-data">
              {{transaction.rawtransaction.data.blockstakeinputs.length}}
            </div>
          </div>
          <div class="row" *ngIf="transaction.rawtransaction.data.coininputs">
            <div class="row-title">
              Coin Input Count
            </div>
            <div class="row-data">
              {{transaction.rawtransaction.data.coininputs.length}}
            </div>
          </div>
          <div class="row" *ngIf="transaction.rawtransaction.data.blockstakeoutputs">
            <div class="row-title">
              BlockStake Output Count
            </div>
            <div class="row-data">
              {{transaction.rawtransaction.data.blockstakeoutputs.length}}
            </div>
          </div>
          <div class="row" *ngIf="transaction.rawtransaction.data.coinoutputs">
            <div class="row-title">
              Coin Output Count
            </div>
            <div class="row-data">
              {{transaction.rawtransaction.data.coinoutputs.length}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item?.hashtype === 'transactionid'">
      <div class="card">
        <div class="card-title">
          Transaction Statistics
        </div>
        <div class="row">
          <div class="row-title">
            Height
          </div>
          <a class="row-data bold" (click)="newSearch(item.transaction.height)">
            {{item.transaction.height}}
          </a>
        </div>
        <div class="row">
          <div class="row-title">
            ID
          </div>
          <div class="row-data">
            {{item.transaction.id}}
          </div>
        </div>
        <div class="row" *ngIf="item.transaction.rawtransaction.data.blockstakeinputs">
          <div class="row-title">
            Blockstake Input Count
          </div>
          <div class="row-data">
            {{item.transaction.rawtransaction.data.blockstakeinputs.length}}
          </div>
        </div>
        <div class="row" *ngIf="item.transaction.rawtransaction.data.blockstakeoutputs">
          <div class="row-title">
            Blockstake Output Count
          </div>
          <div class="row-data">
            {{item.transaction.rawtransaction.data.blockstakeoutputs.length}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>