<div class="card-title">
  Unit Price (last 6 months)
</div>
<div class="flex-center">
  <ngx-charts-area-chart [scheme]="chartOptions.colorScheme" [results]="unitsChartData" [gradient]="chartOptions.gradient" [xAxis]="chartOptions.xAxis" [yAxis]="chartOptions.yAxis" [legendTitle]="chartOptions.legendTitle" [legend]="chartOptions.legend" [showXAxisLabel]="chartOptions.showXAxisLabel" [showYAxisLabel]="chartOptions.showYAxisLabel" [autoScale]="chartOptions.autoScale" [showGridLines]="chartOptions.showGridLines">
  </ngx-charts-area-chart>
</div>